<div class="bg-light py-5 service-11">
    <div class="container">       
        <div class="row">            
            <div class="col-md-4 wrap-service11-box">
                <div class="card card-shadow border-0 mb-4">
                    <div class="p-4">
                        <div class="icon-space">
                            <div class="icon-round text-center d-inline-block rounded-circle bg-success-gradiant">R
                            </div>
                        </div>
                        <h6 class="font-weight-medium">Gerencie tarefas</h6>
                        <p class="mt-3">Você pode gerenciar tarefas diarias e organiza-las da forma que quiser.</p>
                    </div>
                </div>
            </div>            
            <div class="col-md-4 wrap-service11-box">
                <div class="card card-shadow border-0 mb-4">
                    <div class="p-4">
                        <div class="icon-space">
                            <div class="icon-round text-center d-inline-block rounded-circle bg-success-gradiant">F
                            </div>
                        </div>
                        <h6 class="font-weight-medium">Adicione tarefas</h6>
                        <p class="mt-3">Adicione tarefas com descrições, prazos e nivel de importância..</p>
                    </div>
                </div>
            </div>            
            <div class="col-md-4 wrap-service11-box">
                <div class="card card-shadow border-0 mb-4">
                    <div class="p-4">
                        <div class="icon-space">
                            <div class="icon-round text-center d-inline-block rounded-circle bg-success-gradiant">S
                            </div>
                        </div>
                        <h6 class="font-weight-medium">Estatisticas</h6>
                        <p class="mt-3">Veja estatisticas do seu desempenho e aumente sua produtividade.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>